.nav-hr {
  background-color: rgb(0, 0, 0, 0.3);
  height: 80%;
  float: left;
}
.margin-left-right-offer{
  margin-left: 2%;
  margin-right: 2%;
}
.margin-bottom-offer{
  margin-bottom: 0.5%;
}
.margin-bottom-offer-1{
  margin-bottom: 1%;
}
.margin-top-offer{
  margin-top: 1%;
}