
.margin-top-auto-matching{
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}
.header-bold-auto-matching{
    font-weight: bolder;
}
.list-group-style-auto-matching{
    background-color: rgb(0,0,0,0.0050) !important;
    border:rgb(0,0,0,0.03)!important;
}
.list-group-style-offermodal{
    border:rgb(0,0,0,0.03)!important;
    
}
.margin-top-1-auto-matching{
    margin-top: 2%;
}
.margin-top-22-auto-matching{
    margin-top:15%;
    margin-left:45%;
}
.gray-auto-matching{
    background-color: rgb(0,0,0,0.1) !important;
}